.App {
  text-align: center;
}

body {
  background:whitesmoke;
  background-image: url "https://pbs.twimg.com/media/EVvJpmgU8AAEq2q.jpg:large";
}

nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height: 10vh;
  background: slategray

}

.nav-links{
  width: 50%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  list-style:none
  
}

main{
  display: flex;
  justify-content:space-around;
  align-items: center;
}
